# My Jupyter Notebook for Course 2 Completion

Introduction: My name is **Jonathan** and I am completing this notebook for course 2 completion.

My current occupation is as an aerospace engineer.

_I am interested in data science because I love working with numbers and math and Excel and thought that it was time to join the big leagues._

### The following line of code will add two numbers together. The sum will then be tripled.

In [8]:
item_1 = 1
item_2 = 5
total = item_1+item_2
tripledTotal = total*3
print("The summation is:",total)
print("The triple sum is:",tripledTotal)

The summation is: 6
The triple sum is: 18

There are a number of data science languages used regularly. These are just a few:

   1. Python
   2. R
   3. Scala
   4. SQL
   5. JavaScript

Furthermore, there are a number of data science libraries that are frequently used:

   1. Pandas
   2. SciKit-Learn
   3. TensorFlow
   4. Matplotlib
   5. SciPy
   6. NumPy

Some data science tools are:

|    Tool    |
|:----------:|
|Apache Spark|
|    Excel   |
|   MatLab   |
|   Tableau  |

The following cell will convert 45min to hours:

In [6]:
minutes = 45
hours = minutes/60
print(minutes, "minutes =",hours,"hours")

45 minutes = 0.75 hours

The author of this JupyterNB is Jonathan

Objectives list inserted above the below cell:
  * Obj 1
  * Obj 2
  * Obj 3
  * Obj n

The "below" cell that was referenced above.